mixin gallery(data)
  .gallery
    each gallery in data.gallery
      .gallery__content.js-content-gallery(data-gallery=gallery.attr)
        button.gallery__content-button-close.js-close-gallery
          img(src='/assets/icons/back.png') 
        .swiper-wrapper
          each image in gallery.images
            .swiper-slide
              .gallery__slide.magnify
                img(src=image alt="image main" loading="lazy" data-magnify-src=image).js-main-image.zoom
                .swiper-lazy-preloader.swiper-lazy-preloader-white

        .gallery__content-navigation-wrapper
          .gallery__content-navigation.js-gallery-controller
            .swiper-wrapper
              .swiper-slide
                each image, key in gallery.images
                  button.gallery__navigation.js-gallery-nav(class=(key == 0 ? "--is-active" : ""))
                    img.lazyloading.lazyload.lazyloaded(src=image alt="image")
            .swiper-scrollbar