mixin intro()
  .intro
    .intro__content
      .intro__overlay
      .intro__cards
        .intro__card
          button.intro__button.js-gallery-button(data-gallery="gallery-1")
            img(alt="board" src="assets/img/board-1.png").intro__image-board
        .intro__card
          button.intro__button.js-gallery-button
            img(alt="board" src="assets/img/board-2.png").intro__image-board
        .intro__card
          button.intro__button.js-gallery-button
            img(alt="board" src="assets/img/board-3.png").intro__image-board
        .intro__card
          button.intro__button.js-gallery-button
            img(alt="board" src="assets/img/board-4.png").intro__image-board
        .intro__card
          button.intro__button.js-gallery-button
            img(alt="board" src="assets/img/board-5.png").intro__image-board
        .intro__card
          button.intro__button.js-gallery-button
            img(alt="board" src="assets/img/board-6.png").intro__image-board
        .intro__card
          button.intro__button.js-gallery-button
            img(alt="board" src="assets/img/board-7.png").intro__image-board
        .intro__card
          button.intro__button.js-gallery-button
            img(alt="board" src="assets/img/board-8.png").intro__image-board
