block constants

doctype html
html(lang="ru")
  include ../parts/head
  body
    .page-content
      main.page-main
        block page
  script(src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous")
  script(type="module", src="js/main.js")